@import "tailwindcss";  

/* Forçar o container do Google a ser circular no mobile se necessário */
@media (max-width: 768px) {
  iframe[src*="accounts.google.com"] {
    max-width: 44px !important;
    border-radius: 50% !important;
  }
}

body {
  margin: 0;
  padding: 0;
}

/* Garantir que o navbar não tenha margens */
nav {
  margin-bottom: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}